html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url('https://images.unsplash.com/photo-1575556543355-cb5a413a863a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzV8fGd1aXRhcnxlbnwwfDB8MHxibHVl&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    height: 100vh;
    color: #fff;
}

.shop-now-button {
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #17a2b8;
    box-shadow: 0 0 4px #000;
    outline: none;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: linear-gradient(90deg, rgba(92, 69, 125) 0%, rgba(84, 69, 117) 35%, rgba(157, 154, 245) 100%);
    z-index: -1;
}

.modal.left .modal-dialog {
    width: 270px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    overflow-y: auto;
    font-size: 1.2rem;
}

.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
    left: 0;
}
/* ----- MODAL STYLE ----- */

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #eeeeee;
    background-color: #fafafa;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
        color: #f1f1f1;
        text-shadow: 0 0 5px #fff;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
    .navbar .nav-item .nav-link {
        font-size: 1.5rem;
    }
    .navbar-brand {
        font-size: 2rem;
    }
}

.caption-container {
    padding-top: 5rem;
}

.caption {
    width: 100%;
    max-width: 100%;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.logo-font {
    width: 100%;
    max-width: 100%;
}

.logo-font h1 {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.panel {
    border: none;
    box-shadow: none;
}

.panel-heading {
    border-color: #eff2f7;
    font-size: 16px;
    font-weight: 300;
}

.panel-title {
    color: #2A3542;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
}

/*--MEDIA QUERIES--*/

@media screen and (max-width: 600px) {
    .nav-link {
        color: #451f8c;
    }
    .caption h1 {
        font-size: 1rem;
        letter-spacing: .15rem;
    }
    .search-box input[type="text"]:focus {
        color: #000;
    }
    .search-box input[type="text"]+span {
        color: #000;
    }
    .search-box input[type="text"]+span::before {
        color: #000;
    }
    .container-search {
        margin-right: 1.6rem;
        transform: translate(-20%);
    }
}

/*--Search-Animation--*/
.container-search {
    transform: translate(-50%);
}

.search-box input[type="text"] {
    border: none;
    background: none;
    z-index: 1;
    width: 25px;
    height: 25px;
    transition: all 0.25s ease-in 0.25s;
    color: transparent;
    font-size: 0.75rem;
    line-height: 25px;
}

.search-box input[type="text"]:hover {
    cursor: pointer;
}

.search-box input[type="text"]:hover:focus {
    cursor: text;
}

.search-box input[type="text"]:hover+span {
    background: rgba(255, 255, 255, 0.2);
}

.search-box input[type="text"]:focus {
    width: 200px;
    padding: 0 10px;
    outline: none;
    color: black;
    background: none;
    color: white;
}

.search-box input[type="text"]:focus+span {
    width: 200px;
}

.search-box input[type="text"]:focus+span::before {
    width: 2px;
    opacity: 0;
    transition: all 0.25s ease-in;
}

.search-box input[type="text"]+span {
    z-index: -1;
    position: absolute;
    border: 2px solid white;
    top: 0;
    width: 25px;
    height: 25px;
    transition: all 0.25s ease-in 0.25s;
    border-radius: 25px;
    left: 0;
}

.search-box input[type="text"]+span::before {
    transition: all 0.25s ease-in 0.5s;
    transform-origin: left top;
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    border-radius: 5px;
    background: white;
    transform: rotate(45deg) translate(26px, -2px);
}